<h2>Richard Kasper</h2>
<img src="~/images/kasper_profile.png" alt="Agent bio image" style="float:right;height:200px" class="img-responsive hidden-xs text-companion" />
<p>
    Richard Kasper was born and raised in Shiner, Texas. He found his way to Bryan/College Station and graduated with a Bachelor of Science in Agricultural Economics 
    from Texas A&M University in 1994. In 1999 he started Kasper Insurance Group, Inc in Bryan. The agency specializes in health and life insurance and he has made it 
    a personal crusade for the advancement of Health Savings Accounts (HSA) in the Bryan/College Station community as well as the surrounding Brazos Valley.
</p>
<p>
    Richard prides himself on maintaining the beauty of Bryan/College Station and the comradely within the community. He served on the Bryan/College Station Chamber of 
    Commerce Ambassador committee for six years and as their Chairman during 2000-01. He was the 2002 Brazos County A&M Club Coach's Night Chairman, a 2001 graduate of the 
    Leadership Brazos Program and is also an Eagle Scout.
</p>
<p>
    He and his family attend A&M United Methodist Church in College Station. He has been married to his wife Karen since May 1999 and they have two beautiful children; Logan 
    and Madelyn. He enjoys hunting, fishing, and working in his garage but most of all, spending time with his wife and children.
</p>

