<h2>About Us</h2>
<p>Kasper Insurance Group was founded by Richard Kasper in 1999. We are an independent Insurance Agency representing multiple carriers in the state of Texas.</p>
<h2>Our Mission</h2>
<p>To provide quality services and products through educated planning.  Your family and business is important.  Your ability to protect them is immeasurable.  We understand that.</p>
<p>We want to create a relationship that is ongoing.  This relationship should not end at the completion of a sale.  We want to serve your changing lifestyle, review your products, and make sure you, your family, and your business are protected for many years to come.</p>

