@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    Kasper Insurance Group<br />
    2402 Broadmoor<br/>
    Building C, Suite 102<br />
    Bryan, TX 77802<br /><br />
    Phone: 979.731.1699<br />
    Fax: 815.425.4450<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:richard.kasperins.com">richard@kasperins.com</a><br />
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d3432.1810459642306!2d-96.34182400000001!3d30.65703!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8646815db0b0d795%3A0x3a6575a37d4e1aa1!2s2402+Broadmoor+Dr!5e0!3m2!1sen!2sus!4v1399913222672" width="600" height="450" frameborder="0" style="border:0"></iframe>