@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/logo.png" height="100" />
    <h1>Kasper Insurance Group</h1>
    <p class="lead">Servicing the insurance needs of the individual and small business</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Individuals</h2>
        <p>
            Let us help you navigate the maze of choices available for individual and family health plans.
        </p>
        <p><a class="btn btn-default" href="~/HealthPlans/Individuals">View details</a>
    </div>
    <div class="col-sm-4">
        <h2>Employers and Groups</h2>
        <p>
            We provide insurance to members of formal groups such as employees of a firm or members of an association.
        </p>
        <p><a class="btn btn-default" href="~/HealthPlans/Groups">View details</a></p>
    </div>
    <div class="col-sm-4">
        <h2>Medicare</h2>
        <p>
            There are many options and details to Medicare.  We can help you decide what is best for your specific situation.
        </p>
        <p><a class="btn btn-default" href="~/HealthPlans/Medicare">View details</a></p>
    </div>
</div>