@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/logo.png" height="100" />
    <h1>Kasper Insurance Group</h1>
    <p class="lead">Servicing the insurance needs of the individual and small business</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h2>Individuals</h2>
        <p>
            Let us help you navigate the maze of choices available for individual and family health plans.
        </p>
        <p><a class="btn btn-default" href="~/HealthPlans/Individuals">View details</a>
    </div>
    <div class="col-sm-4">
        <h2>Employers and Groups</h2>
        <p>
            We provide insurance to members of formal groups such as employees of a firm or members of an association.
        </p>
        <p><a class="btn btn-default" href="~/HealthPlans/Groups">View details</a></p>
    </div>
    <div class="col-sm-4">
        <h2>Medicare</h2>
        <p>
            There are many options and details to Medicare.  We can help you decide what is best for your specific situation.
        </p>
        <p><a class="btn btn-default" href="~/HealthPlans/Medicare">View details</a></p>
    </div>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@