<h2>Dental Plans</h2>
<p>
    It’s common for people to secure health insurance and neglect dental insurance. But since oral health is a significant indicator of general health, it’s important to 
    take care of those teeth. Plus, dental work can be very expensive, especially if you need major work done, so dental insurance can save you a lot of money in the long run.
</p>
<p>
    When applying for dental insurance, check to see if your preferred dentist is in the plan’s network. If yes, you’ll be able to see your dentist at discounted rates. If your 
    dentist isn’t part of the plan’s network, then you might be charged higher fees for seeing him or her. If you don’t have a dentist at all, then you’re free to choose any dentist 
    within the network, which will keep costs down. 
</p>
<p>
    It’s also important to research how your dental insurance covers preventative care like standard cleanings and x-rays. Most plans do not charge extra for these services, which 
    means that consumers who don’t require any special care won’t incur charges outside their monthly premiums. 
</p>
<p>
    But if you do require special care, like fillings, crowns or a root canal, then your dental insurance will kick in to cover the costs. Pay attention to your plan’s annual maximum. 
    If your plan has a low annual maximum of $1,000 for example, you’ll have to pay fees on top of that amount. Plans with higher maximums will cover more throughout the year, leaving 
    you with fewer dental bills. 
</p>
<p>
    We offer individual dental coverage through two different carriers. One is a dental HMO where you must see the network dentist to receive benefits. The other is a dental PPO where 
    you are free to see any dentist you like.
</p>
