<h2>Group Health Plans</h2>
<p>
    Kasper Insurance Group provides insurance to members of a formal group such as employees of a firm or members of an association. Group insurance is distinguished 
    from individual insurance in which single policies are sold to one person at a time and from social insurance (e.g., unemployment insurance, social security), which 
    is sponsored by the government. 
</p>
<p>
    Because every group is different, we take the time to find the right plan for your group. To find out more information give us a call or email us.
</p>