<h2>Group Health Plans</h2>
<p>
    Kasper Insurance Group provides insurance to members of a formal group such as employees of a firm or members of an association. Group insurance is distinguished from individual insurance in which single policies are sold to one person at a time and from social insurance (e.g., unemployment insurance, social security), which is sponsored by the government. 
</p>
<p>
    Because every group is different, we take the time to find the right plan for your group. To find out more information give us a call or email us.
</p>
@*<a href="https://retailweb.hcsc.net/retailshoppingcart/TX/census?ExpressLinkedAgentId=233668"><img src="~/images/equotes_logo.jpg" alt="Doctor image" class="img-responsive text-companion" /></a>*@
@*<a href="http://www.equotesforyou.com/group-health-quote-form.html" target="_blank" name="#Group Health Insurance Quote Form">
    <img src="/Images/equotes_logo.jpg" width=329 height=47 border=0 alt="" class="center-block img_responsive">
</a>*@