<h2>Medicare</h2>
<p>
    Medicare Part A – Your Hospital Insurance. It’s free for everyone who is eligible for Medicare.
</p>
<p>
    Medicare Part B – Your Medical Insurance (doctor, preventive and outpatient services). There is a monthly premium for Part B. For 2012, the standard premium is $99.90. Your Part B premium may be higher based upon your modified adjusted gross income. Your premium is either withheld from your monthly social security payment or paid by you directly to Medicare.
</p>
<p>
    Medicare Part D – Your Prescription Drug Coverage. It’s available to everyone on Medicare, but there is a separate monthly premium for this coverage paid directly to the insurance company providing the coverage. Your premium is withheld from your monthly social security check or paid by you directly to the insurance company.
</p>
<p>
    As with All Insurance You will Pay Annual Deductibles and Copayments 
</p>
<p>
    Part A Deductible - $1,156 for your hospital insurance - paid by you<br />
    Part A Copayments (paid by you) for hospital expenses:
    <ul>
        <li>$0 for the first 60 days</li>
        <li>$289 a day for the next 61 to 90 days</li>
        <li>$578 a day for the next 91 to 150 days</li>
    </ul>
</p>
<p>
    Part B Deductible is $140 - paid by you Part B Copayment is 20% for medical expenses, after you pay the $140 annual deductible Part B Excess Charges – You may need to pay 15% more than the approved amount for doctors that do not accept Medicare as payment in full.
</p>
<br />
<p><strong>Medicare Supplement (Medigap) or a Medicare Advantage Plan </strong></p>
<p>
    Medicare Supplement plans are designed to pay the deductibles and copayments of Medicare Parts A & B.  The reason that you would purchase a separate Medigap policy is that, depending on the plan selected, it would pay all or part of the following:
    <ol>
        <li>Part A deductible of $1,156</li>
        <li>Part B deductible of $140</li>
        <li>All of your Part A hospital copayments</li>
        <li>The 20% remainder (after the $140 deductible) of your Part B expenses</li>
        <li>Up to 365 more days for hospital stays after you use your Part A hospital benefits</li>
        <li>Part B excess charges by doctors who do not accept approved Medicare payments </li>
        <li>All costs of the first 3 pints of blood</li>
        <li>$578 per day for days 21 – 100 staying in a Skilled Nursing Facility </li>
        <li>Home Health Care – 20% of the remainder after the Part B $140 deductible </li>
        <li>Foreign Travel Emergencies </li>
    </ol>
</p>
<br />
<p><strong>Medicare Advantage (Part C)</strong></p>
<p>Medicare Part C or Medicare Advantage plans are health plans offered by private insurance companies approved by Medicare. If you join a Medicare Advantage Plan, the plan provides all your Part A (Hospital Insurance) and Part B (Medical Insurance) coverage. </p>
<p>Most Medicare Advantage Plans offer Part D drug coverage and may offer extra coverage, such as vision, hearing, dental, and/or health and wellness programs.</p>
<p>Medicare Advantage Plans must follow rules set by Medicare. However, each plan can charge different out-of-pocket costs and have different rules for how you get services (such as whether you need a referral to see a specialist or if you have to go to only doctors, facilities, or suppliers that belong to the plan).</p>
<p>
    Most Plans are structured as HMO’s; however, there are also PPO’s, private fee for services plans (PFFS), and several Special Needs Plans available.
    <ul>
        <li>One major difference between Medigap and Medicare Advantage plans is that Medigap plans have a monthly premium, and most Medicare Advantage plans either have no premium or a very low monthly premium.</li>
        <li>Remember, you are responsible for your Part B premium on either plan.</li>
    </ul>
</p>




